# Dependencies
node_modules/

# Cache
.cache
.npm

# Env
.env

# Logs
*.log

# Yarn
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
*.lnk
[Dd]esktop.ini
Thumbs.db

# Notes
NOTES.md

# Tests
test/